{%- for dep in page.data.dependencies -%}
{%- if dep.files.size != 0 -%}
<h2>{{dep.type}}</h2>
<ul>
    {%- for item in dep.files -%}
    {%- if item.title -%}
        {%- capture link_title -%}{{item.title | xml_escape }} <small>({{ item.path | xml_escape }})</small>{%- endcapture -%}
    {%- else -%}
        {%- capture link_title -%}{{item.path | xml_escape }}{%- endcapture -%}
    {%- endif -%}
    <li><a href="{{ item.path | relative_url }}">{{ site.icons[item.icon] }} {{ link_title | xml_escape }}</a></li>
    {%- endfor -%}
</ul>
{%- endif -%}
{%- endfor -%}

<h2>Code</h2>

{%- include code.html extension=page.data.pathExtension embedded=page.data.embedded -%}

{%- if page.data.testcases and page.data.testcases.size != 0 -%}
<h2>Test cases</h2>
<table class="testcases-table">
    <style>
        .col:not(.col1):not(.col2) {
            text-align: center;
        }

        .emoji {
            vertical-align: middle;
        }
    </style>
    <thead>
        <tr>
            <th class="col col1">Env</th>
            <th class="col col2">Name</th>
            <th class="col col3">Status</th>
            <th class="col col4">Elapsed</th>
            <th class="col col5">Memory</th>
        </tr>
    </thead>
    <tbody>
        {%- for case in page.data.testcases -%}
        <tr>
            <td class="col col1">{{ case.environment | xml_escape }}</td>
            <td class="col col2">{{ case.name | xml_escape }}</td>
            {%- if case.status == "AC" -%}
            <td class="col col3">{{ site.icons.TEST_ACCEPTED }}&nbsp;AC</td>
            {%- else -%}
            <td class="col col3">{{site.icons.TEST_WRONG_ANSWER}}&nbsp;{{ case.status | xml_escape }}</td>
            {%- endif -%}
            <td class="col col4">{{ case.elapsed | times: 1000 | round }} ms</td>
            <td class="col col5">{{ case.memory | round }} MB</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>
{%- endif -%}