<h2>Library Files</h2>
{%- for category in page.data.libraryCategories -%}
<h3>{{ category.name }}</h3>
<ul>
    {%- for item in category.pages -%}
        {%- if item.title -%}
            {%- capture link_title -%}{{item.title}} <small>({{ item.path }})</small>{%- endcapture -%}
        {%- else -%}
            {%- capture link_title -%}{{item.path}}{%- endcapture -%}
        {%- endif -%}
        <li><a href="{{ item.path | relative_url }}">{{ site.icons[item.icon] }} {{ link_title }}</a></li>
    {%- endfor -%}
</ul>
{%- endfor -%}

<h2>Verification Files</h2>
{%- for category in page.data.verificationCategories -%}
<h3>{{ category.name }}</h3>
<ul>
    {%- for item in category.pages -%}
        {%- if item.title -%}
            {%- capture link_title -%}{{item.title}} <small>({{ item.path }})</small>{%- endcapture -%}
        {%- else -%}
            {%- capture link_title -%}{{item.path}}{%- endcapture -%}
        {%- endif -%}
        <li><a href="{{ item.path | relative_url }}">{{ site.icons[item.icon] }} {{ link_title }}</a></li>
    {%- endfor -%}
</ul>
{%- endfor -%}