---
---

.code {
    position: relative;
}

.code .btn-area {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.pre-code {
    padding: 0;
}

.code-btn {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 6em;
    line-height: 1.2em;
    font-size: 0.8em;
    cursor: pointer;
}

.code-btn:hover {
    color: #fff;
    background-color: #267cb9;
}

.code-btn:first-child {
    border-radius: 0 0 0 6px;
}
